
#root{
    margin: 4% 3% 0 3%;
}
.container{
    margin-bottom: 18%;
}
.container h1{
    color: blue;
}

.container h3{
    color: blue;
}

.inp{
    display: flex;
    /* width: 90%; */
}
.form-control{
    width: 93%;
}
.fa-long-arrow-down{
    margin-left: 3%;
    margin-top: 1%;
    cursor: pointer;
}
.fa-long-arrow-up{
    margin-top: 1%;
    cursor: pointer;
}
.dropdown{
    border: none;
    background-color: transparent;
    outline: none !important;
}
.dropdown:focus{
    color: blue;
    margin-bottom: 25%;
}

.dropdown-menu{
    margin-top: 2%;
    margin-left: 20%;
    padding-bottom: 2%;
}
.dropdown-item{
    margin-left: -3%;
    list-style-type: square;
}
.dropdown-item:hover{
    background-color: transparent;
}
.button_nuevo{
    border: #707070 6px;
}

.fa-long-arrow-right{
    margin-left: 4%;
    width: 4%;
}


.csd{
    color: #707070;
    padding: 10px 30px 10px 0px ;
    opacity: 0.7;
    text-align: center;
}